#container {
	width: 960px;
	height: 1000px;
	margin: 0 auto;
}

h1 {
	font-family: "Chewy", cursive;
	text-align: center;
	font-size: 45px;
	padding-top: 10px;
}

p, label {
	font-size: 18px;
	font-family: "Raleway", sans-serif;

}

ul {
	margin-top: 10px;
	margin-left: 20px;
}


#qbox {
	padding: 20px;
	background-color: orange;
	width: 905px;
	height: 800px;
	margin: 0 auto;
	top: 100px;
	left: 35px;
}

input, label {
	
	margin: 15px, 20px, 15px, 20px;
	
}

.answers {
	margin-bottom: 30px;
}

.question {
	margin-bottom: 10px;
}

#timer {
	
	text-align: left;
	margin-bottom: 5px;
	font-size: 25px;
}

#logo {

position: relative;
left: 251px;
	
}

#done {
	border: 3px solid #f71111;
	background-color: #ffe316;
	color: #f71111;
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	font-weight: bold; 

}

#qbox{
	font-size: 18px;
	font-family: "Raleway", sans-serif;
}

#reset{
	border: 3px solid #f71111;
	background-color: #ffe316;
	color: #f71111;
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	font-weight: bold; 
	display: block;
	margin-top: 10px;
}